ul.programs{
    display: flex;
    list-style: none;
    padding: 10px;  
    margin:0;
    color:white;
    font-weight: bold;
    font-size:15px;
    position: relative;
    background-image: linear-gradient(#c4911c,#ecc964);
}
 ul>#ship{
     margin-left:auto;
}
ul:last-child{
    padding-right:80px;
}
ul:first-child{
    padding-left:70px;
}
span.oder{
  text-align: left;
   position: relative;
}
nav > p{
    margin:0;
}
p  img{
    margin-left:50px;
    margin-top:10px;
    position: relative;
}
span.oder{
    margin-left:750px;
    margin-top:30px;
    position: absolute;
    font-size: 20px;
    font-weight: 800;
}
span.insurance{
    margin-left:975px;
    margin-top:30px;
    position:absolute;
    font-size:20px;
    font-weight: 800;
}
span.slogan1{
    color:#FF3300;
    font-size:42px;
    font-weight: bolder;
    font-family: cursive;
    margin-top:12px;
    margin-left:70px;
    position:absolute;
}
span.slogan2{
    font-size:42px;
    color:#FF3300;
    font-weight: bolder;
    font-family: cursive;
    margin-top:-75px;
    margin-bottom:0;
    margin-left:460px;
    position: absolute;
}
nav > div#slogan3{
    display: none;
}
nav > div#slogan4{
    display: none;
}
span.phonenumber{
    position:absolute;
    margin-left:1032px;
    font-size:20px;
    font-weight: 1000;
    margin-top:-80px;;
}
span.phonenumber2{
    position:absolute;
    margin-left:1257px;
    font-size:20px;
    font-weight:1000;
    margin-top:-80px;
} 
nav > img{
    position:absolute;
    margin-left:975px;
    margin-top:-105px;
    animation: ring 0.8s infinite;
}
#phone{
    position:absolute;
    margin-left:1200px;
}
@keyframes ring{
    25%{transform:rotate(20deg)}
    50%{transform:rotate(-20deg)}
    75%{transform:rotate(20deg)}
    100%{transform:rotate(-20deg)}
}
ul.menu{
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    background-color: khaki;
    justify-content: center;
}
ul.menu > li > a:hover{
    background-color:#0099FF;
    color: #FFFF00;
}
ul.menu > li > a{
    display: block;
    color:blue;
    padding:12px 20px 12px 22px;
    text-decoration: none;
    font-size:24px;
    font-weight: bolder; 
}
ul.menu > li#menu2{
    background-color: #ffcc66
}
/*---------------------Giới Thiệu-------------------------------*/
nav.introduction>div.intro>p {
    font-size: 20px;
    font-weight: 500;
    margin-left: 220px;
    margin-top: 20px;
}

nav.introduction>div.intro>p#intro {
    font-size: 30px;
    font-weight: bold;
}
nav.introduction>div.intro>p#thank {
    font-weight: bold;
}
/*-----------------GT Thanh viên------------------------------*/
nav.introduction>div.member>p {
    font-size: 20px;
    font-weight: 500;
    margin-left: 220px;
    margin-top: 20px;
}
nav.introduction>div.member>ol {
    font-size: 20px;
    font-weight: 500;
    margin-left: 220px;
    margin-top: 20px;
}
nav.introduction>div.member>p#member {
    font-size: 30px;
    font-weight: bold;
}
/*----------------------------------------------------------*/
div.policy > ol.polycy2 > li#p1{
    font-size: 50px;
}
div.policy > ol > li#p1{
    text-decoration: underline;
    font-weight: bolder;
    font-size: 25px;
}
div.policy{
    margin-left: 220px;
}
div.policy > ol > p{
    font-size: 30px;
    font-weight: bold;
    margin-left:-38px;
}
li#p2{
    font-weight: bolder;
    font-size: 18px;
}
nav#call{
    margin-left:220px;
    font-size:20px;
    margin-top:-15px;
    font-weight: bold;
}
div.content > ul{
    list-style: none;
    display:flex;
}
div.content > ul > li{
    margin-left:150px;
    font-size:25px;
}
div.content > ul.id > li{
    color:red;
    margin-left: 220px;
    font-size:15px;
    margin-top:-17px;
}
div.content{
    font-weight: 600;
    padding: 10px;
    margin-top: 60px;
}
div.content > div > ul > li:first-child{
    margin-left: 90px;
    margin-top: -80px;
    list-style: none;
}
div.content > div > ul > li:last-child{
    margin-left: 865px;
    margin-top: -115px;
    list-style: none;
}
p > img.rep {
    margin-left:160px;
    margin-top:-120px;
}
p > img.money{
    margin-left:615px;
    margin-top:-210px;
}
p > img.ship3{
    margin-left:950px;
    margin-top:-290px;
}
div.contact{
    margin-top:-120px;
    font-size: 30px;
    font-weight: bold;
    padding: 10px;
    background-image: linear-gradient(#FF6633,#FFCC66);
}
div.contact > p{
    margin-left:150px;
    position: relative;
}
div.contact > p > span.fb > a{
    margin-left:200px;
    text-decoration: none;

}
div.contact > p > span.zalo > a{
    margin-left: 160px;
    text-decoration: none;
}
p.sms > a > img{
    position: fixed;
    margin-left:1395px;
    margin-top:630px;
    z-index:99;
    animation: chat 1s infinite;
}
@keyframes chat{
    50%{transform:scale3d(1.2,1.2,1.2)}
    100%{transform:scale3d(1.2,1.2,1.2)}
}
div.end > img{
    position: relative;
    z-index:-1;
    margin:0;
}
div.end > img.shop{
    margin-top:-710px;
    margin-left: 142px;
}
div.end > div{
    z-index:1;
    margin-left: 140px;
    margin-top:-260px;
    color:white;
    font-size: 15px;
    font-weight:600;
}
div.end > div > p.nameshop{
    font-size: 30px;
}
nav.logo > div > a > img{
    border: solid #000044;
    margin:0;
    padding: 0;
}
nav.logo{
    margin-left: 700px;
    margin-top:-120px;
}
nav.logo > div > a > img:hover{
    border: solid red;
}
div.suports > nav.suport{
    margin-left:520px;
    margin-top:-400px;
    font-size:25px;
}
div.suports > nav.suport > p.sp{
    margin-left:0px;
    margin-top:-420px;
    font-size:35px;
}
div.suports > nav.suport > p > a{
    text-decoration: none;
    color:white;
}
div.connection{
    color:white;
    margin-left:860px;
    margin-top:-220px;
}
div.connection > nav.connec > div{
    font-size: 35px;
}
div.connection > nav.connec > nav.connec2 > a{
    display:inline;
    color:white;
}
div.connection > nav.connec > nav.connec2{
    margin-left:120px;
}
div.connection > nav.connec > p#map{
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 10px;
}
p#next{
    display: none;
}
div.navbar{
    font-size: 10px;
    display: none;
}
div.navbar > ul{
    list-style: none;
}
nav.info > label > i{
   display: none;
}
nav.mobile{
    position: fixed;
    top:0;
    left:0;
    bottom: 0;
    width: 300px;
    max-width: 100%;
    z-index: 99;
    transform: translateX(-100%);
    background-color:#eeeeee;
    transition: transform 0.5s;
}
ul.mobile2{
    margin-top: 24px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}
ul.mobile2 > li > a{
    text-decoration: none;
    display: block;
    color:black;
    font-weight: 700;
    transition: transform 0.2s;
    padding: 5px;
    font-size: 25px;
    margin-left: -10px;
}
ul.mobile2 > li#sp > ul{
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}
ul.mobile2 > li#sp > ul > li > a{
    font-size: 18px;
    color:black;
    font-weight: 700;
    text-decoration: none;
    margin-left: -10px;
}
ul.mobile2 > li#sp > ul{
    list-style: none;
}
nav.mobile > label >  i{
    position: absolute;
    top:15px;
    right:20px;
}
.overlay{
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 20;
    display: none;
    animation: nav_overlay linear 2s;
}
div.navbar > input {
    display: none;
}
ul.mobile2 > li > a:hover{
    color:#cc3300;
    transform: scale(1,1.2);
}
ul.mobile2 > li#sp > ul > li > a:hover{
    color:#cc3300;
}
@keyframes nav_overlay{
    from{
        opacity:0;
    }
    to{
        opacity: 1;
    }
}
div.ip{
    display: none;
}
div.ip{
    position: fixed;
    bottom:0;
    left:0;
    right:0;
    z-index:100;
}
div.ip > ul{
    display: flex;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}
div.ip > ul > li{
    border: solid 1px;
    list-style: none;
    width: 100%;
    text-align: center;
    font-size: 20px;
    font-weight: bolder;
}
div.ip > ul > li > a{
    display: block;
    text-decoration: none;
    margin: 5px;
}
div.ip > ul > li > label {
    margin: 5px;
}
@media screen and (max-width:1024px){
 ul.programs > li:first-child{
 margin-left: 80px;
 }
 span.slogan1{
 display: none;
 }
 span.slogan2{
 display: none;
 }
 ul.programs{
 font-size: 13px;
 }
 ul.programs > li:first-child{
 margin-left: 0;
 }
  nav > div#slogan3{
  display: block;
 font-size: 38px;
  margin-left: 315px;
  margin-top: -130px;
  position: absolute;
  font-weight: bolder;
  color: red;
  font-family:cursive;
 }
 nav > div#slogan4{
 display: block;
 font-size: 38px;
 margin-left: 455px;
  margin-top: -80px;
 position: absolute;
 font-weight: bolder;
  color: red;
 font-family:cursive;
 }
   span.oder{
   margin-left: 535px;
   }
 nav > img{
 margin-left:760px;
  }
 span.insurance{
 display: none;
 }
#phone{
display: none;
}
  span.phonenumber{
  margin-left:820px;
 }
span.phonenumber2{
display: none;
} 
ul.menu > li > a{
padding:10px 18px 12px 20px;
font-size:22px;
}
div.background > div > img.back{
width: 550px;
 height: 300px;
margin-left: 45px;
margin-top: -355px;
}
div.promotion > img{
width: 330px;
height: 135px;
}
div.promotion > img:first-child{   
  margin-left:628px;
margin-top:25px;
position: absolute;
}
div.promotion > img:last-child{
margin-left:628px;
margin-top:190px;
 position:absolute;
}
div.content > ul > li{
margin-left:70px;
}
div.content > ul > li:first-child{
margin-left: 0;
}
div.content > ul.id > li{
display: none;
}
p > img.rep {
 margin-left:42px;
margin-top:-138px;
width: 3.5%;
}
p > img.money{
 margin-left:410px;
margin-top:-223px;
 width: 3.5%;
}
p > img.ship3{
  margin-left:663px;
margin-top:-303px;
width: 3.5%;
}
div.contact{
font-size: 24px;
padding: 6px;
}
div.contact > p{
margin-left:60px;
position: relative;
}
div.contact > p > span.fb > a{
margin-left:110px;
}
div.contact > p > span.zalo > a{
margin-left: 120px;
}
div.end > img.shop{
margin-top:-690px;
margin-left: 42px;
}
div.end > div{
margin-left: 40px;
margin-top:-280px;
}
 div.suports > nav.suport{
margin-left:320px;
font-size:22px;
}
div.suports > nav.suport > p.sp{
 font-size:30px;
}
div.connection > nav.connec > div{
font-size: 25px;
margin-left: -260px;
 margin-top: 70px;
}
div.connection > nav.connec > nav.connec2{
 margin-left:-225px;
}
div.connection > nav.connec > p#map{
font-size: 18px;
font-weight: bold;
padding-bottom: 10px;
}
 p.sms > a > img{
 margin-left:945px;
 margin-top:630px;
}
@keyframes chat{
50%{transform:scale3d(1.1,1.1,1.1)}
100%{transform:scale3d(1.1,1.1,1.1)}
}
 p#ggmap > iframe{
width: 340px;
 height: 240px;
 margin-left: -290px;
}
 p#map{
margin-left: -290px;
}
nav.logo > div > a > img{
width: 100px;
height: 70px;
}
nav.logo{
margin-left: 410px;
margin-top:-90px;
}
img.shop{
width: 26%;
}
nav.introduction > div.intro > p{
    margin-left:40px;
    margin-top:30px;
}
div.policy{
    margin-left:40px;
}  
p#next{
    display:block;
}
p#next2{
    display: none;
}
nav#call{
    margin-left:70px;
}
}
@media screen and (max-width:480px){
    div.navbar > label > i{
        display: block;
        margin-left: 100px;
     }
     div.navbar{
        font-size: 25px;
        display: block;
    }
    .input:checked ~ .overlay{
        display: block;
    }
    .input:checked ~ nav.mobile{
        transform: translateX(0);
    }
    nav.info > label > i{
        display: block;
        font-size: 25px;
        margin-left: 410px;
        margin-top: -110px;
        position: absolute;
        color:#ecc964;
     }
     li#ship{
         display: none;
     }
     ul.programs{
         margin-top: -20px;
     }
     ul.programs > li:first-child{
         font-size: 9.5px;
         margin-left: 8px;;
     }
     ul:first-child{
        padding-left:0px;
    }
    nav > div#slogan3{
        display: none;
    }
    nav > div#slogan4{
        display: none;
    }
    span.oder{
        display: none;
    }
    nav > img{
        display: none;
    }
    span.phonenumber{
        display: none;
    }
    nav.info > p > img{
        margin-left: 120px;
    }
    ul.menu{
        display: none;
    }
    nav.info > p{
        border-bottom: solid 2px #ecc964;
    }
    div.promotion > img{
        display: none;
    }
    div.content{
        margin-left: 0;
    }
    div.content > ul{
        display:inline
    }
    div.content > ul > li{
        font-size:22px;
        padding: 12px;
    }
    div.content > ul > li:first-child{
        margin-left: 70px;
    }
    div.content > ul.id > li{
       display: none;
    }
    p > img.rep {
        margin-left:50px;
        margin-top:-375px;
        width: 8%;
    }
    p > img.money{
        margin-left:50px;
        margin-top:-350px;
        width: 8%;
    }
    p > img.ship3{
        margin-left:50px;
        margin-top:-315px;
        width: 8%;
    }
    div.contact{
        margin-top:-120px;
        font-size: 25px;
        font-weight: bold;
        padding: 10px;
        background-image: linear-gradient(#FF6633,#FFCC66);
    }
    div.contact > p{
        margin-left:10px;
        position: relative;
    }
    div.contact > p > span.fb > a{
        font-size: 21px;
        text-decoration: none;
        margin-left: 10px;

    }
    div.contact > p > span.zalo > a{
        margin-left: 190px;
        text-decoration: none;
        font-size: 21px;
    }
    div.contact > p > span > a > i{
        display: none;
    }
    nav.logo{
        display: none;
    }
    div.suports{
        display: none;
    }
    div.connection{
        display: none;
    }
    div.end > img:first-child{
        height: 350px;
    }
    div.end > img.shop{
        margin-top:-620px;
        margin-left: 20px;
    }
    div.end > div{
        margin-left: 20px;
        margin-top:-260px;
        font-size: 14px;
    }
   /*---------------------Giới Thiệu-------------------------------*/
   nav.introduction>div.intro>p {
    font-size: 18px;
    margin-left: 20px;
}

nav.introduction>div.intro>p#intro {
    font-size: 25px;
}
/*-----Thành Viên-----*/

nav.introduction>div.member>p {
    font-size: 18px;
    margin-left: 20px;
}


nav.introduction>div.member>p#member {
    font-size: 25px;
}
div.policy > ol > li#p1{

    font-size: 25px;
}
div.policy{
    margin-left: 10px;
}
div.policy > ol > p{
    font-size: 25px;
}
li#p2{
    font-size: 18px;
}
nav#call{
    margin-left:10px;
    font-size:18px;
    margin-top:0px;
}
p#hr{
    display: none;
}
}   
@media screen and (max-width:380px){
    div.ip{
        display: block;
    }
    nav.info > label > i{
        display: none;
     }
     ul.programs > li:first-child{
        font-size: 7.5px;
        margin-left: 3px;;
    }
    nav.info > p > img{
        margin-left: 80px;
    }
    div.content > ul > li{
        font-size:20px;
        padding: 8px;
    }
    p > img.rep {
        margin-top:-330px;
    }
    p > img.money{
        margin-top:-305px;
    }
    p > img.ship3{
        margin-top:-295px;
    }
    div.contact{
        font-size: 20px;
        padding: 7px;
    }
    div.contact > p{
        margin-left:10px;
        position: relative;
    }
    div.contact > p > span.fb > a{
        font-size: 16px;
        text-decoration: none;
        margin-left: 10px;

    }
    div.contact > p > span.zalo > a{
        margin-left: 152px;
        text-decoration: none;
        font-size: 16px;
    }
    nav.mobile{
        width: 270px;
    }
    ul.mobile2 > li > a{
        margin-left: -20px;
        font-size: 22px;
    }
    ul.mobile2 > li#sp > ul > li > a{
        margin-left: -20px;
        font-size: 17px;
    }
    nav.introduction > div.intro > p{
        font-size:16px;
        margin-left:20px;
        line-height: 1.2;
    }
    div.policy > ol > li#p1{
        font-size: 22px;
    } 
    div.policy{
        margin-left: 5px;
    }
}
@media screen and (max-width:320px){
     ul.programs > li:first-child{
        font-size: 6.5px;
        margin-left: 0;;
    }
    nav.info > p > img{
        margin-left: 60px;
    }
    p > img.rep {
        margin-top:-300px;
    }
    p > img.money{
        margin-top:-285px;
    }
    p > img.ship3{
        margin-top:-295px;
    }
    div.content > ul > li{
        font-size:17px;
    }
    div.contact{
        font-size: 17px;
    }
    div.contact > p{
        margin-left:10px;
    }
    div.contact > p > span.fb > a{
        margin-left: 10px;

    }
    div.contact > p > span.zalo > a{
        margin-left: 132px;
    }
    ul.mobile2 > li > a{
        font-size: 20px;
    }
} 